.search {
    display:flex;
  justify-content:left;
}

.buscador {
width: 50rem;
height: 4rem;
text-align: left;
font-size: var(--font-medium);
color: var(--dark-300);
padding-left: 2%;
border: 2px solid var(--dark-bg-solid);
border-radius: 6px;
margin-top: 2%;
margin-left: 1%;
margin-bottom: 2%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
}

p {
  font-size: var(--font-large);
  font-family: var(--alternative-font);
  text-transform:uppercase;
}
.agregar {
  font-size: var(--font-small);
  text-transform:uppercase;
  font-weight: bold;
  
}



thead {
  font-family: var(--base-font);
  font-size: var(--font-small);
  font-weight:bold;
}
 
