.search {
    display:flex;
  justify-content:left;
}

.buscador {
width: 45rem;
height: 4rem;
text-align: left;
font-size: var(--font-medium);
font-weight: 500;
color: var(--dark-300);
padding-left: 2%;
border: 2px solid var(--dark-bg-solid);
border-radius: 6px;
margin-top: 2%;
margin-left: 1%;
margin-bottom: 2%;
}
.listado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 93%;
}

h1 {
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  text-transform:uppercase;
  font-weight:700;
  align-self: center;
}


.agregar{
  font-size: var(--font-large);
  text-transform:uppercase;
  font-weight: 700;
align-self:center;
vertical-align:50%;
margin: auto;
}

  table{
    table-layout:auto;
    width: 94%;
    justify-content: space-between;
  }
thead {
  font-family: var(--base-font);
  font-size: var(--font-large);
  font-weight:700;
}
thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 12%;
}

thead th:nth-child(3) {
  width: 36%;
}

thead th:nth-child(4) {
  width: 36%;
}

td {
  font-family: var(--base-font);
  font-size: var(--font-large);
}

th, td {
 padding: var(--spacing-12);
 text-align: center;
 
}

  #codigo__producto, #categoria__producto {
    text-transform: uppercase;
  }