
body {
    background-color: var(--ligth-font-solid);
}

.item-especifico {
margin: var(--spacing-28);
}

/*SECTION SELECCIONADO*/

.seleccionado {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 30px; */
}

.img-item {
height: 550px;
width: 550px;
}

.licencia {
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-transform: uppercase;
}

.nombre-gde {
    font-size: var(--font-large);
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
}

.descripcion {
font-size: var(--font-small);
margin-top: 10px;
padding-right: 200px;
}

.precio-gde {
    font-size: var(--font-xlarge);
    font-weight: 400;
    margin-top: 10px;
}

.cantidades {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.cantidades input{
    width: 60px;
    text-align: center;
}

.cantidad {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sum-res {
    background-color: var(--dark-bg-solid);
    opacity: 90%;
    color: var(--light-font-solid);
    border: none;
}

.agregar {
    font-size: var(--font-xsmall);
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    text-transform: capitalize;
    text-align: center; 
    border: none;
    
}

.pagar {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-900);
    text-transform: capitalize;
    text-decoration: underline;
}

.metodos-pago {
    display: flex;
    margin-top: 20px;
}

/*SECTION SECUNDARIA*/

.relacionados {
padding: var(--spacing-36);
margin-left: 40px;
}

h2 {
    font-size: var(--font-xlarge);
    font-family: var(--alternative-font);
    font-weight: 700;
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.item {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-24);
}

.card-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
    position: relative;
}

.nuevo {
    font-size: var(--font-xsmall);
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.card-item-cover {
    display: flex;
    position: relative;
}

.card-item-cover img {
    width: 300px;
    height: 300px;
    animation: fade .7s;
}

.img-back {
    display: none;
}

.card-item-cover:hover .img-back {
    display: block;
}

.card-item-cover:hover .img-front {
    display: none;
}

.item-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.promo {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-900);
    text-transform: uppercase;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
