
body {
    background-color: var(--ligth-font-solid);
}

/*SECTION SELECCIONADO*/
.seleccionado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidades {
    display: flex;
    gap: 10px;
    
}
.cantidades input{
    width: 60px;
    height: 20px;
    text-align: center;
    
    
}

.cantidad {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.sum-res {
    background-color: var(--dark-bg-solid);
    opacity: 90%;
    color: var(--light-font-solid);
    border: none;
    
    height: 11px;
    text-align: center;
}

.agregar {
    font-size: var(--font-xsmall);
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    text-transform: capitalize;
    /* text-align: center; */
    border: none;
    height: 25px;
}

.pagar {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-900);
    text-transform: capitalize;
    text-decoration: underline;
}

/*SECTION SECUNDARIA*/

h3 {
    font-weight: 600;
}

.flex {
    display: flex;
}

.item {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-24);
}

.card-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
    position: relative;
}

.nuevo {
    font-size: var(--font-xsmall);
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.card-item-cover {
    display: flex;
    position: relative;
}

.card-item-cover img {
    width: 300px;
    height: 300px;
    animation: fade .7s;
}

.img-back {
    display: none;
}

.card-item-cover:hover .img-back {
    display: block;
}

.card-item-cover:hover .img-front {
    display: none;
}

.item-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.licencia {
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-transform: uppercase;
}

.nombre {
    font-size: var(--font-medium);
    font-weight: 700;
}

.precio {
    font-size: var(--font-small);
}

.promo {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-900);
    text-transform: uppercase;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
