h1 {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-solid);
    margin-top: 100px;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.correo {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.correo label {
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-weight: 400;  
    /* text-align: left; */
    margin-left: 60px;
    }

.correo input {
    border: none;
    border-bottom: 2px solid var(--primary-solid);
    gap: 50px;
    font-family: var(--base-font);
    font-size: 20px;
    font-weight: 400; 
    margin-left: 100px;
}

.contraseña {
    display: flex;
    align-items: center;
}

.contraseña label{
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-weight: 400;  
    margin-left: 60px;
}

.contraseña input {
    border: none;
    border-bottom: 2px solid var(--primary-solid);
    font-family: var(--base-font);
    font-size: 20px;
    font-weight: 400; 
    margin-left: 35px;
}

.registro {
    
}