body {
    background-color: var(--light-font-solid);
}

.h1-register {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-solid);
    margin-top: 100px;
}

.h2-register {
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-weight: 400;  
    text-transform: capitalize;

}
