
body {
    background-color: var(--ligth-font-solid);
}

.main-shop {
    display: flex;
    flex-direction: row;
}

/*SECTION BUSCADOR*/

.buscador {
    display: block;
    padding-top: 60px;
} 

.search {
    font-size: var(--font-xsmall);
    padding: var(--spacing-12);
    text-transform: uppercase;
}

.search label {
    font-weight: 600;
}

.search input {
    border-radius: 5px;
    margin-top: 10px;
}

.order {
    font-size: var(--font-xsmall);
    padding: var(--spacing-12);
    text-transform: uppercase;
}

.order label {
    font-weight: 600;
}

.order select {
    border-radius: 5px;
    width: 180px;
    margin-top: 10px;
}

.precios {
    font-size: var(--font-xsmall);
    padding: var(--spacing-12);
}

h3 {
    font-weight: 600;
    text-transform: uppercase;
}

.precios label {
    font-weight: 500;
    text-transform: uppercase;
}

.precios input {
    border-radius: 5px;
    width: 30px;
    margin-top: 10px;
}

.elegir {
    font-size: var(--font-xsmall);
    padding: var(--spacing-12);
    text-transform: uppercase;
}

.elegir input {
    border-radius: 5px;
    margin-top: 10px;
}


/* SECTION CARDS*/
.cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-24);
}

.card-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
    position: relative;
}

.nuevo {
    font-size: var(--font-xsmall);
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.card-item-cover {
    display: flex;
    position: relative;
}

.card-item-cover img {
    width: 300px;
    height: 300px;
    animation: fade .7s ease;
}

.img-back {
    display: none;
}

.card-item-cover:hover .img-back {
    display: block;
}

.card-item-cover:hover .img-front {
    display: none;
}

.item-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
    text-transform: uppercase;
}

.licencia {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.nombre {
    font-size: var(--font-medium);
    font-weight: 700;
}

.precio {
    font-size: var(--font-small);
}

.promo {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-900);
}

.paginas {
    display: flex;
    justify-content: center;
}

.listado-pag {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-bottom: 50px;
    font-size: var(--font-small);
    font-weight: 700;
    gap: 5px;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
