
body {
    background-color: var(--ligth-font-solid);
}

.flex {
    display: flex;
}


/*SECTION BUSCADOR*/

.buscador {
    display: flex;
    flex-direction: column;
}

.search {
    font-size: var(--font-xsmall);
    padding: var(--spacing-12);
}

.search label {
    font-weight: 600;
}

.search input {
    border-radius: 5px;
}

.order {
    font-size: var(--font-xsmall);
    padding: var(--spacing-12);
}

.order label {
    font-weight: 600;
}

.order select {
    border-radius: 5px;
    width: 180px;
}

.precios {
    font-size: var(--font-xsmall);
    padding: var(--spacing-12);
}

h3 {
    font-weight: 600;
}

.precios label {
    font-weight: 500;
}

.precios input {
    border-radius: 5px;
    width: 30px;
}

.elegir {
    font-size: var(--font-xsmall);
    padding: var(--spacing-12);
}

.elegir input {
    border-radius: 5px;
}


/* SECTION CONTAINER*/

.item {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-24);
}

.card-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
    position: relative;
}

.nuevo {
    font-size: var(--font-xsmall);
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

.card-item-cover {
    display: flex;
    position: relative;
}

.card-item-cover img {
    width: 300px;
    height: 300px;
    animation: fade .7s;
}

.img-back {
    display: none;
}

.card-item-cover:hover .img-back {
    display: block;
}

.card-item-cover:hover .img-front {
    display: none;
}

.item-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.licencia {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.nombre {
    font-size: var(--font-medium);
    font-weight: 700;
}

.precio {
    font-size: var(--font-small);
}

.promo {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-900);
}

.botones-paginas {
    display: flex;
    align-items: end;
    align-self: flex-end;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
