/* RESET ////////////////////////////////////////////*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    /*     vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
    list-style-type: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;

}

/*//////////////////////////////////////////////////////////////////////*/

/*///////////////////Global css//////////////////////*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /* Pallete */
    --primary-solid: #FF3333;
    --prymary-900: rgba(255, 51, 51, 0.9);
    --prymary-500: rgba(255, 51, 51, 0.5);
    --prymary-300: rgba(255, 51, 51, 0.3);

    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */

    --base-font: 'inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-default: 2em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;

    /* headings */

    h1 {
        font-size: var(--font-display);
        font-weight: 600;
        line-height: 1.2;
    }

    h2 {
        font-size: var(--font-jumbo);
        font-weight: 600;
        line-height: 1.2;
    }

    h3 {
        font-size: var(--font-xlarge);
        font-weight: 600;
        line-height: 1.2;
    }

    h4 {
        font-size: var(--font-large);
        font-weight: 600;
        line-height: 1.2;
    }

    p {
        font-size: var(--font-medium);
        font-weight: 600;
        line-height: 1.2;
    }

    h5 {
        font-size: var(--font-small);
        font-weight: 600;
        line-height: 1.2;
    }

    h6 {
        font-size: var(--font-xsmall);
        font-weight: 600;
        line-height: 1.2;
    }

    a {
        text-decoration: none;
        font-family: inherit;

    }

    .precio {
        /* esta es para el precio  */
        font-weight: 400;
        font-family: var(--base-font);

    }

    strong {
        /* esta es para los "3 cuotas sin interes" */
        font-weight: 700;

    }

    /*//////////////////////////////////////////////*/
}




html {
    font-size: 62.5%;
    /*para usar "Em"*/
    font-family: var(--base-font);
    color: var(--dark-solid);
}

header,
footer {
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-family: var(--alternative-font);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*///////////////////header css//////////////////////*/
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-36);
}

nav ul {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: var(--spacing-20);
}

nav ul li img {
    width: 33px;
    height: 31px;
    
}

nav > ul > li > a{
    font-size: var(--font-default);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background-color .3s ease-in-out;
}

nav li:not(:last-child) a:hover{
    background-color: var(--prymary-900);
}
.with-submenu{
    width: 125px;
}
.with-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-8); 
    position: relative;
}
._submenu{
    position: absolute;
    display: block;
    flex-direction: column;
    background-color: var(--dark-bg-solid);
    z-index: 3;
    gap: 1px;

}
._submenu li a{
    display: none;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background-color .3s ease-in-out;
}
._submenu li:hover a{
    background-color: var(--prymary-900);
}
.with-submenu:hover ._submenu li a{
    display: block;

}

/* end header */
/*///////////////////home//////////////////////*/
.hero {
    background-image: url(../assets/img/funkos-banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
}
.hero::before{
    content: '';
    background-color: rgba(0,0,0,0);
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px) brightness(0.9);
    z-index: 1;


}
.cover {
    /*     height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-20);
    padding: var(--spacing-128);
    position: relative;
    z-index: 2;
}
.cover h3 {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    font-weight: 700;
    color: var(--light-font-solid);
}
.cover p {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
}

.cover a{
    display: inline;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

}
.cover a:hover{
    background-color: var(--prymary-900);
    color: var(--light-font-solid);
}

.collection article{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection article div:first-of-type{
display: flex;
flex-direction: column;
gap: var(--spacing-24);
align-items: start;
}

.collection  h2{
    font-size: var(--font-display);
    font-family: var(--alternative-font);
}
.collection  p{
    font-size: var(--font-large);
    font-family: var(--alternative-font);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection  a{
    display: inline;
    font-size: var(--font-medium);
    font-weight: 500;
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    transition: background-color .3s ease-in-out;
}

.collection  a:hover{
    background-color: var(--prymary-900);

}

.collection article:nth-child(2){
    flex-direction: row-reverse;
}

/* seccion secunaria ultimos lanaizamientos */
.seccion-secundaria h2{
    font-size: var(--font-display);
    text-transform: uppercase;
}
.slide {
    display: flex;
}
/* end HOME */

/* item page*/
/* end item */

/* carrito page*/

/* end carrito */

/*///////////////////footer//////////////////////*/
footer {
padding: var(--spacing-68) 0 var(--spacing-8) 0;
}


footer section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    gap: var(--spacing-8);
}

footer ul a{
    font-size: var(--font-medium);
    
}

footer p{
    font-size: var(--font-default);
    text-align: center;
    margin-top: var(--spacing-36);
}